#hero {
    // min-height: 100vh;
    // height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @include centered;
    // background: url(https://cdn.pixabay.com/photo/2017/09/23/10/53/coffee-2778423_1280.png);
    background-size: cover;

    .swiper {
        @include dimension(100%, 100%);
        max-width: 1300px;
        /* Đặt giới hạn chiều rộng tối đa */
        width: 100%;
        margin: 0 auto;
        .swiper-wrapper{
            height: 60%;
            @include devices(sm) {
                height: 80%;
            }
        }
        .swiper-pagination{
            bottom: 8rem;
            @include devices(md) {
                bottom: 4rem;
            }
            @include devices(sm) {
                bottom: 0rem;
            }
        }
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.hero_wrapper {
    position: relative;
    @include grid-cols(2, 0.4fr, 2rem);
    place-content: center;
    place-items: center;

    &::before {
        @include pseudo($top: 10%);
        font-size: 15rem;
        font-weight: 700;
        opacity: 0.05;

        @include devices(xl) {
            font-size: 12rem;
        }

        @include devices(sm) {
            font-size: 8rem;
        }
    }

    &.hero_slide-0::before {
        content: "H2T-Coffee";
    }

    &.hero_slide-1::before {
        content: "H2T-Coffee";
    }

    &.hero_slide-2::before {
        content: "H2T-Coffee";
    }

    @include devices(lg) {
        grid-template-columns: 0.7fr;
        gap: 4rem;
    }

    @include devices(sm) {
        grid-template-columns: 0.9fr;
        gap: 2rem;
    }
}

.hero_item_txt,
.hero_item_img {
    position: relative;
}

.hero_item_txt {
    text-shadow: var(--text-shadow);

    h1 {
        font-size: 3rem;
        text-transform: capitalize;
        word-spacing: 3px;
        @include margin-y(0.8rem, 1rem);

        @include devices(xl) {
            font-size: 2.4rem;
        }

        @include devices(sm) {
            font-size: 1.8rem;
        }

        @include devices(xs) {
            font-size: 1.5rem;
        }
    }

    h3 {
        font-size: 1.3rem;
        font-weight: 600;

        @include devices(sm) {
            font-size: 1rem;
        }
    }

    .hero_price {
        @include margin-y(2rem, 3rem);

        @include devices(sm) {
            @include margin-y(1.5rem, 2rem);
        }
    }

}

.hero_item_img {
    overflow: hidden;

    img {
        @include img-fit;
    }

    @include devices(lg) {
        grid-row: 1;
    }

    @include devices(sm) {
        max-width: 18rem;
        width: 75%;
    }
}