.purchase-history {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2{
        margin-bottom: 2rem;
    }
}
.order {
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    background: #161819;
    .order-right{
        p{
            text-align: right;
        }
        h3{
            margin-top: 3.5rem;
            color: var(--main-color);
        }
    }
    .order-left{
        display: flex;
        .order-details{
            h3,p,h5{
                margin: 3px 0;
            }
        }
        img {
            width: 100px;
            height: 100px;
            margin-right: 20px;
        }
    }

}
 
.status {
    font-weight: bold;
}
.completed {
    color: green;
}
.in-progress {
    color: orange;
}
.pending {
    color: red;
}