#product_details {
    padding-top: 6rem;
    background-color: #080a07;
}

.prod_details_wrapper {
    grid-template-columns: 0.7fr 1fr;
    gap: 4rem;

    @include devices(lg) {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
}

.prod_details_left_col {
  
    .prod_details_tabs {
        display: flex;
        justify-content: space-around;
        gap: 1rem;
        margin-top: 2rem;
    
        .tabs_item {
            @include dimension(6rem, 6rem);
            @include bordered(2px, rgba($color: #ffffff, $alpha: 0.2));
            border-radius: 3px;
            padding: 0.5rem;
            cursor: pointer;
            @include transition(border-color, 0.2s);
    
            &.active {
                border-color: #eee;
            }
    
            img {
                @include img-fit;
            }
        }

        .tabs_item.selected{
            border: 1px solid var(--main-color); 
        }
    }

    .prod_details_img {
        height: 26rem;
        img {
            @include img-fit;
        }
    }
    
}



.prod_details_right_col {
    .separator {
        @include margin-y(2.2rem, 2.2rem);
    }

    // size
.size{
    display: flex;
    .size-select {
        margin-left: 5rem;
    }

    .size-option {
        opacity: 0.8;
        padding: 5px 20px;
        text-align: center;
        background-color: #fff;
        color: #000;
        cursor: pointer;
        margin-right: 2rem;
        border-radius: 2px;
    }

    .size-option.selected {
        opacity: 1;
        border: 1px solid rgb(0, 0, 0);
        background-color: var(--main-color);
        color: #fff;
    }
}


// topping
.topping{
    display: flex;
    margin-top: 2rem;

    .topping-select{
        margin-left: 2.8rem;

        .topping-option{
            border: 1px solid var(--main-color);
            color:#ccc;
            padding: 4px 6px;
            font-size: 14px;
            opacity: 0.8;
            text-align: center;
            cursor: pointer;
            margin-right: 2rem;

        }
        .topping-option.selected {
            opacity: 1;
            border: 1px solid rgb(0, 0, 0);
            background-color: var(--main-color);
            color: #fff;
        }
            
    }
}


// quantity
.quantity{
    display: flex;
    margin-top: 2rem;
    align-items: center;
    .counter {
        & { 
            display: inline-flex;
            align-items: center;
            @include bordered(1px, #444);
            border-radius: 3px;
            user-select: none;
            overflow: hidden;
            margin-left: 2.5rem;

            &__button {
                @include dimension(2.125rem, 2.25rem);
                background-color: var(--bg-color-3);
                @include transition(color, 0.2s);

                &:hover {
                    color: #eee;
                }

                &[disabled] {
                    cursor: not-allowed;
                    color: var(--text-muted);
                }
            }
        }

        &__count {
            @include dimension(2.75rem, 2.25rem);
            color: var(--main-color);
            font-size: 1.3rem;
            line-height: 2.25rem;
            font-weight: bold;
            text-align: center;
        }
    }
}

    .error_message{
        text-align: right;
        color: var(--main-color-2);
    }

    .describe{
        display: flex;
        p{
            margin-left: 0.5rem;
        }
    }
}

.prod_details_info {
    @include margin-y(0.6rem, 1.2rem);
    font-weight: 600;
}

.prod_details_ratings {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    a {
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }
    }
    .rating_text {
        font-size: small;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rating_star {
        font-size: large;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.prod_details_price {
    @include flexbox(space-between, end);
    margin-top: 0.3rem;
    .price {
        font-size: 2rem;
    }

    .del_price {
        font-size: 1.3rem;
    }

    .saved_price {
        font-weight: 500;
        color: green;
        @include margin-y(0.8rem, 0.4rem);
    }

    .tax_txt {
        font-size: 0.9rem;
        color: var(--text-muted);
    }

    .badge {
        background-color: green;
        border-radius: 3px;
        padding: 0.5rem 0.7rem;
    }

}

.prod_details_offers {

    h4 {
        font-weight: 600;
    }

    ul {
        display: flex;
        gap: 0.8rem;
        margin-top: 1.5rem;

        li {
            @include bordered(1px, var(--text-muted));
            background-color: var(--bg-color-2);
            border-radius: 3px;
            font-size: 0.9rem;
            padding: 0.6rem;
        }
    }
}

.prod_details_buy_btn {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    button{
        margin-left: 2rem;
    }
}