.prod_summary_details {
    margin-top: 4rem;

    ul {
        display: grid;
        gap: 2rem;
    }
}


.prod_reviews {
    ul {
        gap: 3rem;
    }

    .comment_review {
        display: flex;
        padding: 0 0 0 1rem;

        .user_avatar {
            img {
                @include dimension(50px, 50px);
                border-radius: 50%;
            }
        }

        .user_info {
            gap:1rem;
            padding: 0 1rem 0 0.8rem;
            .user_ratings {
                display: grid;
                align-items: center;
                gap: 0.2rem;
                .date {
                    color: var(--text-muted);
                    font-size: 0.7rem;
                }
            }
            .user_review {
                width: 70%;
                padding-top: 0.6rem;
            } 
        }
    }

}