.products_wrapper {
    @include grid-cols(4, 1fr, 0.6rem);
    margin: 0 2rem;

    @include devices(lg) {
        @include grid-cols(3, 1fr, 0.8rem);
    }

    @include devices(md) {
        @include grid-cols(2, 1fr, 1rem);
    }

    @include devices(sm) {
        @include grid-cols(1, 1fr, 1rem);
        margin: auto;
        width: 60%;
    }
}

.products_filter_tabs {
    @include margin-y(3rem, 5rem);
}

.products_card {
    @include bordered(1px, rgba($color: #ccc, $alpha: 0.4));
    border-radius: 3px;
    box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.5);
    overflow: hidden;
    background: #000;
    margin: 0 0.3rem 1rem 0.3rem;

    &.browse_card {
        @include centered;
        @include padding-y(5rem, 5rem);
        font-size: 1.5rem;

        a {
            @include transition(color, 0.3s);

            &:hover {
                color: #eee;
            }
        }
    }

    
}

.modal{
    display: none;
}

.products_img {
    background: var(--bg-color-2);
    text-align: center;
    // padding: 1rem;
    width: 100%;
    overflow: hidden;
    height: 14rem;
    position: relative;
    margin: auto;
    object-fit: fill;
    img {
        width: 100%;
        height: 100%;
    }
    .btn_card {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        visibility: hidden;
        transition: 0.3s ease-in-out;  
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        button{
            width: 50%;
            margin-bottom: 10px;
            padding: 0.8rem 1rem;
        }
    }
    
    &:hover .btn_card {
        visibility: visible;
        background-color: rgba(0, 0, 0, 0.6);
    }
}

.products_details {
    padding: 1rem;
    .price_box{
        .price{
            font-size: 24px;
        }
    }
}

.prod_details_price{
    .icon_card {
        cursor: pointer;
        span {
            font-size: 24px;
            color: #ccc;
        }
    }
    
}

.products_title {
    @include margin-y(0.8rem, 0.4rem);
}

.products_info {
    opacity: 0.8;
    font-weight: 500;
}

.products_btn {
    width: 100%;
    margin-top: 1.2rem;

    &.active {
        background-color: green;
    }   

    &[disabled] {
        cursor: not-allowed;
    }
}


/*------ All-Products Page ------*/
#all_products {
    padding-top: 8rem;
    display: grid;  
    grid-template-columns: 240px 1fr;

    @include devices(lg) {  
        grid-template-columns: 1fr;
    }

    .products_wrapper {
        @include devices(xl) {
            @include grid-cols(3, 1fr, 0.3rem);
        }

        @include devices(md) {
            @include grid-cols(2, 1fr, 0.6rem);
        }

        @include devices(sm) {
            @include grid-cols(1, 1fr, 1rem);
            width: auto;
        }
    }
}